<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px">
  <p>Did you forgot your password? No problem! Take this token:</p> {{token}}
</div>